*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    background-image:linear-gradient(90deg, #4169E1,#191970) ;
    color: white;
    font-size: 20px;
}

body a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #87CEEB;
    text-decoration: underline;
}
.container{
    padding: 0px 10px;
    overflow: hidden;
}
#mainhead {
    background-image:linear-gradient(90deg, #4169E1,#191970) ;
}
#mainhead h1{
    font-size: 60px;
    padding: 30px 60px;
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
    padding-top: 10px;
}
#navbar {
    font-size: 23px;
    background-image:linear-gradient(to left, #4169E1,#191970);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    border-top: 2px solid rgba(255, 255, 255, 0.7);
}
#navbar ul{
    text-align: right;
    padding-right: 0px;
}
#navbar li{
    display: inline-block;
    padding: 10px 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.7);
}
#form{
    background-color: rgba(212, 200, 200, 0.6);
    color:#1136a7 ;
    text-align: center;
    border: 2px solid white;
    border-radius: 1em;
    margin: 20px 300px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
label{
    display: block;
}
input{
    background-color: transparent;
    border-radius: 0.2em;
    padding: 2px;
    border: 2px #1a4bdf96 solid;
}
input[type="date"]{
    cursor: text;
}
textarea{
    background-color: transparent;
    border-radius: 0.2em;
    padding: 2px;
    border: 2px #1a4bdf96 solid;
}
select{
    background-color: transparent;
    border-radius: 0.2em;
    padding: 2px;
    border: 2px #1a4bdf96 solid;
    cursor: pointer;
}
::placeholder{
    color: black;
}
#form h2{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#form p{
    padding-bottom: 5px;
}
.button{
    padding: 5px 60px;
    font-size: 14px;
    border: 2px #1a4bdf96 solid;
}
.button:hover{
    background-color:blue;
    color: white;
    filter: grayscale(80%);
    border-radius: 0.4em;
    cursor: pointer;
}
#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #191970 ;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
}
@media(max-width:700px){
    #navbar li{
        font-size: 15px;
        float: center;
        padding-right: 15px;
        padding-left: 15px;
    }
    .logo{
        width: 120px;
        height: 120px;
    }
    #mainhead h1{
        padding: 5px 0px;
    }
}
@media(max-width:1000px){
    #form{
       margin: 20px 30px;
    }
}